body {
  --grid-size: 500px;
  --cell-size: calc(var(--grid-size) / 4);
}

.Grid {
  border: 5px solid black;
  box-sizing: content-box;
  margin: 20px auto;
  position: relative;

  width: var(--grid-size);
  height: var(--grid-size);
}

.Grid .Square {
  border: 2px solid #9e9e9e;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: calc(var(--cell-size) / var(--num-length));
  line-height: var(--cell-size);
  vertical-align: middle;

  position: absolute;
  left: calc(var(--x) * var(--cell-size));
  top: calc(var(--y) * var(--cell-size));
  width: var(--cell-size);
  height: var(--cell-size);
  transition: top 0.1s, left 0.1s;
}

.Grid .Gameover {
  background: rgba(0, 0, 0, 0.5);
  text-align: left;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.GameMenu {
  margin: auto;
  width: var(--grid-size);

  display: flex;
  flex-direction: row;
}

.GameMenu .text {
  flex: 1;
  font-size: 1.5em;
}

@media (max-width: 600px) {
  body {
    --grid-size: 80vw;
  }
}
